
extends ../layout.pug

block content
  each p in products
    -var productId = p._id
    div
      a(href="/products/detail/" + productId) #{p.name}
      form(action="/cart/add/", method="post")
        input(type="hidden", name="productId", value=productId)
        input(type="submit", value="add +1")